*, *::before, *::after {
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    background-color: #F5F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.start-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.main-title {
    color: #293264;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.main-subheading {
    margin: 0;
    color: #293264;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.start-button {
    margin-top: 0.7rem;
    background-color: #4D5B9E;
    padding: 1rem 3rem;
    color: #F5F7FB;
    border-radius: 15px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.start-button:hover {
    background-color: #39427A;
}

.blob {
    position: absolute;
    z-index: -1;
}

.blob-top {
    top: -170px;
    right: -150px;
    width: 600px;
    height: 200px;
    background: #fffad1;
    border-radius: 300px;
    transform: rotate(45deg);
}

.blob-bottom {
    bottom: -150px;
    left: -50px;
    width: 300px;
    height: 300px;
    background: #d6dbf5;
    border-radius: 50%;
}

.blob-top-quiz {
    top: -170px;
    right: -260px;
    width: 600px;
    height: 200px;
    background: #fffad1;
    border-radius: 300px;
    transform: rotate(60deg);
}

.blob-bottom-quiz {
    bottom: -200px;
    left: -180px;
    width: 300px;
    height: 300px;
    background: #d6dbf5;
    border-radius: 50%;
}

.quiz-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.quiz-page-questions {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    max-height: 70vh;
    overflow-y: auto;
}

.question-section {
    border-bottom: 1px solid #DBDEF0;
    width: min(550px, 90vw);
}

.question-text {
    color: #293264;
    font-size: 1rem;
    font-family: "Karla", sans-serif;
    margin-top: 0;
}

.submit-btn {
    background-color: #4D5B9E;
    padding: 1rem 2rem;
    color: #F5F7FB;
    border-radius: 15px;
    border: none;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.disabled {
    background-color: #9fa8c9;
    cursor: not-allowed;
}

.submit-btn:hover {
    background-color: #39427A;
}

.submit-btn.disabled:hover {
    background-color: #9fa8c9;
}

.answer-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.answer-label {
    color: #293264;
    font-size: 0.625rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #4D5B9E;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.answer-input:checked + .answer-label {
    background-color: #D6DBF5;
    color: #293264;
    border-color: #D6DBF5;
}

.question-form {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.irrelevant {
    opacity: 0.5;
    cursor: default;
}

.correct {
    background-color: #94D7A2;
    color: #293264;
    border: none;
    cursor: default;
}

.incorrect {
    opacity: 0.5;
    background-color: #94D7A2;
    color: #293264;
    border: none;
    cursor: default;
}